.title-container{
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text{
    color: #ffffff;
    font-size: clamp(2.0rem, 4.0vw, 4.0rem);
}