.title-container{
    padding: 16px;
    background-color: #4E71FF;
    border-radius: 20px;
    width: 800px;
    height: 120px;
    align-content: center;
}

.title-text{
    color: #BBFBFF;
    font-size: 40px;
    font-family: 'Outfit', sans-serif;
}