.container-dropbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 200px;
    background-color: #BBFBFF;
    border-radius: 20px;
}

.dropbox-text {
    font-size: 28px;
    font-family: 'Outfit', sans-serif;
    color: rgba(78, 113, 255, 0.5);
}