.explain-container{
    display: flex;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(78,113,255,0.5);
    width: 90%;
    max-width: 64rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    clip-path: polygon(
        0% 100%,
        0% 0%,
        100% 0%,
        90% 100%
    );
}
.explain-img{
    max-width: 20%;
    max-height: 30%;
    border-radius: 20px;
    margin-right: 2vw;
    margin-left: 1vw;
}